<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>我要提问</strong> 
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label"></label>
              <div class="col-md-9">
                <p class="form-control-static">为了更好的提供公开、公平、公正的技术服务，问题发布后，不允许修改</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">你的问题</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Title">
                <span class="help-block">问题标题（5-49字以内）</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">问题内容</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                  placeholder="Content.."></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">悬赏金额</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">
                  <option value="0">5分</option>
                  <option value="1">10分</option>
                  <option value="2">15分</option>
                  <option value="3">20分</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">问题类型</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">
                  <option value="0">Angular</option>
                  <option value="1">Java</option>
                  <option value="2">Oracle</option>
                  <option value="3">Vue.js</option>
                </select>
              </div>
            </div>
           
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary mx-2"><i class="fa fa-dot-circle-o"></i> 提交</button>
          <button type="reset" class="btn btn-sm btn-danger mx-2"><i class="fa fa-ban"></i> 清空</button>
        </div>
      </div>
      
    </div>

    <!--/.col-->
  </div>
  <!--/.row-->
</div>