<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    	<link rel="stylesheet" href="http://at.alicdn.com/t/font_795634_cwe0opdbto.css" />
    	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
    	<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
    	<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Spring Boot</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>