<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Calendar
          <small> dynamic slides</small>
        </div>
        <div class="card-body">
          <div class='app'>

            <div class='app-calendar' *ngIf="calendarVisible">
              <full-calendar #calendar defaultView="dayGridMonth" [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"
                (dateClick)="handleDateClick($event)"></full-calendar>
            </div>

          </div>
          <div class='app-top'>
              <button (click)='toggleVisible()'>toggle visible</button>
              <button (click)='toggleWeekends()'>toggle weekends</button>
              <button (click)='gotoPast()'>go to a date in the past</button>
              (also, click a date/time to add an event)
            </div>
        </div>
      </div>
    </div>
  </div>
</div>